<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
</head>
<body class="d-flex vw-100 vh-100 align-items-center justify-content-center">

    <form action="/form" method="post"> 
      <div class="mb-3">
        <label for="username" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="username" required> 
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="pass" id="password" required> 
      </div>
      
      <button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </form>

    <%- include('footer') %>

</body>
</html>
