<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body class="d-flex vw-100 vh-100 align-items-center justify-content-center">

  <%- include('header') %>
  <%- include('main') %>

  <footer>
    <%- include('footer') %>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!-- <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
  ></script> -->

  <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
</body>
</html>
